In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime
from datetime import datetime, timedelta
from tqdm import tqdm_notebook as tqdm
import calendar

import

In [21]:
data = ReadRTD('D:\Strategic_Trading\PriceForecast\data\RTD\RTD.txt')

In [22]:
data

                        ts  open  high   low close   vol
0      2006-01-02 08:46:00  6451  6490  6411  6478   775
1      2006-01-02 08:47:00  6470  6480  6465  6470   589
2      2006-01-02 08:48:00  6472  6473  6461  6465   633
3      2006-01-02 08:49:00  6464  6467  6456  6457   681
4      2006-01-02 08:50:00  6460  6463  6452  6455   385
...                    ...   ...   ...   ...   ...   ...
807827 2016-12-30 13:41:00  9261  9262  9260  9262   442
807828 2016-12-30 13:42:00  9261  9262  9261  9261   275
807829 2016-12-30 13:43:00  9261  9263  9261  9262   672
807830 2016-12-30 13:44:00  9261  9263  9261  9261   646
807831 2016-12-30 13:45:00  9263  9264  9261  9262  1048

[807832 rows x 6 columns]

In [23]:
data.to_csv('D:\Strategic_Trading\PriceForecast\data\RTD\RTD.csv', index=False)